<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Medication</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Add Medication</h1>
<form th:action="@{/medications/add}" method="post" th:object="${medication}">
    <input type="number" th:field="*{patient.id}" placeholder="Patient ID"/><br/>
    <input type="text" th:field="*{name}" placeholder="Name"/><br/>
    <input type="text" th:field="*{dosage}" placeholder="Dosage"/><br/>
    <input type="text" th:field="*{frequency}" placeholder="Frequency"/><br/>
    <input type="number" th:field="*{duration}" placeholder="Duration"/><br/>
    <button type="submit">Add</button>
</form>
</body>
</html>
