<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title th:text="${title}">Add/Edit Patient</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="${title}"></h1>
<form th:action="@{${action}}" method="post" th:object="${patient}">
    <input type="text" th:field="*{name}" placeholder="Name"/>
    <input type="text" th:field="*{address}" placeholder="Address"/>
    <input type="text" th:field="*{disease}" placeholder="Disease"/>
    <input type="date" th:field="*{admissionDate}" />
    <button type="submit">Save</button>
</form>
</body>
</html>
